In [23]:
import re
import json
import csv
import requests
from bs4 import BeautifulSoup ,SoupStrainer
import pandas as pd 
from io import StringIO
from pathlib import Path  

#!pip install selenium

import os
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.service import Service

import sys

import unittest

import time

In [24]:
def get_infinity_page_html_data(chromedriver_path="./chromedriver.exe", scroll_number=50, sleep_time=2, url = ""):
    # Create selenium driver
    s = Service(chromedriver_path)
    driver = webdriver.Chrome(service=s)
    driver.get(url)

    for i in range(1,scroll_number):
        print(f"scroll_number: {i}")
        driver.execute_script("window.scrollTo(1,100000)")
        time.sleep(sleep_time)
    html_data = driver.page_source
    driver.close()
    
    soup = BeautifulSoup(html_data, 'html.parser')    
    return soup

In [25]:
def make_table(soup):
    table = soup.find_all('table')
    df = pd.read_html(str(table))[0]
    return df

In [26]:
def data_cleaning(df):
    df = df[df["Open"].str.contains("Dividend") == False]
    df = df[df["Open"].str.contains("Stock") == False]
    df.drop(df.tail(1).index,inplace=True)
    return df

In [27]:
def write_to_file(df, path):
    from pathlib import Path
    filepath = Path(path)
    filepath.parent.mkdir(parents=True, exist_ok=True)
    df.to_csv(filepath)

In [54]:
base_url = "https://finance.yahoo.com/quote/"
period_url = "/history?period1=1262304000&period2=1651881600&interval=1d&filter=history&frequency=1d&includeAdjustedClose=true"
indexes = ["NVDA","AAPL","TSLA","AMD","MSFT","INTC"]
main_df = pd.DataFrame()

for index in indexes:
    soup = get_infinity_page_html_data(url = (base_url + index + period_url))
    table = soup.find_all('table')
    df = pd.read_html(str(table))[0]
    
    df = data_cleaning(df)
    
    path = index + ".csv"
    write_to_file(df, path)

scroll_number: 1
scroll_number: 2
scroll_number: 3
scroll_number: 4
scroll_number: 5
scroll_number: 6
scroll_number: 7
scroll_number: 8
scroll_number: 9
scroll_number: 10
scroll_number: 11
scroll_number: 12
scroll_number: 13
scroll_number: 14
scroll_number: 15
scroll_number: 16
scroll_number: 17
scroll_number: 18
scroll_number: 19
scroll_number: 20
scroll_number: 21
scroll_number: 22
scroll_number: 23
scroll_number: 24
scroll_number: 25
scroll_number: 26
scroll_number: 27
scroll_number: 28
scroll_number: 29
scroll_number: 30
scroll_number: 31
scroll_number: 32
scroll_number: 33
scroll_number: 34
scroll_number: 35
scroll_number: 36
scroll_number: 37
scroll_number: 38
scroll_number: 39
scroll_number: 40
scroll_number: 41
scroll_number: 42
scroll_number: 43
scroll_number: 44
scroll_number: 45
scroll_number: 46
scroll_number: 47
scroll_number: 48
scroll_number: 49
scroll_number: 1
scroll_number: 2
scroll_number: 3
scroll_number: 4
scroll_number: 5
scroll_number: 6
scroll_number: 7
scroll_number: 8
scroll_number: 9
scroll_number: 10
scroll_number: 11
scroll_number: 12
scroll_number: 13
scroll_number: 14
scroll_number: 15
scroll_number: 16
scroll_number: 17
scroll_number: 18
scroll_number: 19
scroll_number: 20
scroll_number: 21
scroll_number: 22
scroll_number: 23
scroll_number: 24
scroll_number: 25
scroll_number: 26
scroll_number: 27
scroll_number: 28
scroll_number: 29
scroll_number: 30
scroll_number: 31
scroll_number: 32
scroll_number: 33
scroll_number: 34
scroll_number: 35
scroll_number: 36
scroll_number: 37
scroll_number: 38
scroll_number: 39
scroll_number: 40
scroll_number: 41
scroll_number: 42
scroll_number: 43
scroll_number: 44
scroll_number: 45
scroll_number: 46
scroll_number: 47
scroll_number: 48
scroll_number: 49
scroll_number: 1
scroll_number: 2
scroll_number: 3
scroll_number: 4
scroll_number: 5
scroll_number: 6
scroll_number: 7
scroll_number: 8
scroll_number: 9
scroll_number: 10
scroll_number: 11
scroll_number: 12
scroll_number: 13
scroll_number: 14
scroll_number: 15
scroll_number: 16
scroll_number: 17
scroll_number: 18
scroll_number: 19
scroll_number: 20
scroll_number: 21
scroll_number: 22
scroll_number: 23
scroll_number: 24
scroll_number: 25
scroll_number: 26
scroll_number: 27
scroll_number: 28
scroll_number: 29
scroll_number: 30
scroll_number: 31
scroll_number: 32
scroll_number: 33
scroll_number: 34
scroll_number: 35
scroll_number: 36
scroll_number: 37
scroll_number: 38
scroll_number: 39
scroll_number: 40
scroll_number: 41
scroll_number: 42
scroll_number: 43
scroll_number: 44
scroll_number: 45
scroll_number: 46
scroll_number: 47
scroll_number: 48
scroll_number: 49
scroll_number: 1
scroll_number: 2
scroll_number: 3
scroll_number: 4
scroll_number: 5
scroll_number: 6
scroll_number: 7
scroll_number: 8
scroll_number: 9
scroll_number: 10
scroll_number: 11
scroll_number: 12
scroll_number: 13
scroll_number: 14
scroll_number: 15
scroll_number: 16
scroll_number: 17
scroll_number: 18
scroll_number: 19
scroll_number: 20
scroll_number: 21
scroll_number: 22
scroll_number: 23
scroll_number: 24
scroll_number: 25
scroll_number: 26
scroll_number: 27
scroll_number: 28
scroll_number: 29
scroll_number: 30
scroll_number: 31
scroll_number: 32
scroll_number: 33
scroll_number: 34
scroll_number: 35
scroll_number: 36
scroll_number: 37
scroll_number: 38
scroll_number: 39
scroll_number: 40
scroll_number: 41
scroll_number: 42
scroll_number: 43
scroll_number: 44
scroll_number: 45
scroll_number: 46
scroll_number: 47
scroll_number: 48
scroll_number: 49
scroll_number: 1
scroll_number: 2
scroll_number: 3
scroll_number: 4
scroll_number: 5
scroll_number: 6
scroll_number: 7
scroll_number: 8
scroll_number: 9
scroll_number: 10
scroll_number: 11
scroll_number: 12
scroll_number: 13
scroll_number: 14
scroll_number: 15
scroll_number: 16
scroll_number: 17
scroll_number: 18
scroll_number: 19
scroll_number: 20
scroll_number: 21
scroll_number: 22
scroll_number: 23
scroll_number: 24
scroll_number: 25
scroll_number: 26
scroll_number: 27
scroll_number: 28
scroll_number: 29
scroll_number: 30
scroll_number: 31
scroll_number: 32
scroll_number: 33
scroll_number: 34
scroll_number: 35
scroll_number: 36
scroll_number: 37
scroll_number: 38
scroll_number: 39
scroll_number: 40
scroll_number: 41
scroll_number: 42
scroll_number: 43
scroll_number: 44
scroll_number: 45
scroll_number: 46
scroll_number: 47
scroll_number: 48
scroll_number: 49
scroll_number: 1
scroll_number: 2
scroll_number: 3
scroll_number: 4
scroll_number: 5
scroll_number: 6
scroll_number: 7
scroll_number: 8
scroll_number: 9
scroll_number: 10
scroll_number: 11
scroll_number: 12
scroll_number: 13
scroll_number: 14
scroll_number: 15
scroll_number: 16
scroll_number: 17
scroll_number: 18
scroll_number: 19
scroll_number: 20
scroll_number: 21
scroll_number: 22
scroll_number: 23
scroll_number: 24
scroll_number: 25
scroll_number: 26
scroll_number: 27
scroll_number: 28
scroll_number: 29
scroll_number: 30
scroll_number: 31
scroll_number: 32
scroll_number: 33
scroll_number: 34
scroll_number: 35
scroll_number: 36
scroll_number: 37
scroll_number: 38
scroll_number: 39
scroll_number: 40
scroll_number: 41
scroll_number: 42
scroll_number: 43
scroll_number: 44
scroll_number: 45
scroll_number: 46
scroll_number: 47
scroll_number: 48
scroll_number: 49

In [62]:
indexes = ["NVDA","AAPL","TSLA","AMD","MSFT","INTC"]
main_df = pd.DataFrame()

for index in indexes:
    
    df = pd.read_csv( index + '.csv')
    df.drop(df.index[2500:], inplace=True)
    df.set_index('Date')
   
    
    main_df['Date'] = df['Date']
    main_df[index + " " + "Open"] = df['Open']
    main_df[index + " " + "High"] = df['High']
    main_df[index + " " + "Low"] = df['Low']
    main_df[index + " " + "Close"] = df['Close*']
    main_df[index + " " + "Volume"] = df['Volume']
    main_df[index + " " +'Daily change'] = (((df['Close*']).astype(float))-((df['Open']).astype(float)))/((df['Open']).astype(float))*100
    main_df[index + " " +'Daily change Max'] =  abs((df['High'].astype(float)-df['Low'].astype(float))/df['Low'].astype(float)*100)
    


    
    print(df)
    print(df.info())


main_df['Date'] = df['Date']
main_df.set_index('Date')
write_to_file(main_df, ("main_dataframe" + ".csv"))
main_df

      Unnamed: 0          Date    Open    High     Low  Close*  Adj Close**  \
0              0  May 06, 2022  187.36  195.12  179.90  186.75       186.75
1              1  May 05, 2022  198.67  199.25  185.00  188.44       188.44
2              2  May 04, 2022  199.23  204.00  187.51  203.34       203.34
3              3  May 03, 2022  194.00  198.25  191.33  196.02       196.02
4              4  May 02, 2022  185.41  195.74  183.91  195.33       195.33
...          ...           ...     ...     ...     ...     ...          ...
2495        2534  Jun 07, 2012    3.14    3.16    2.97    2.97         2.73
2496        2535  Jun 06, 2012    3.04    3.11    3.02    3.10         2.84
2497        2536  Jun 05, 2012    2.92    3.03    2.92    3.02         2.77
2498        2537  Jun 04, 2012    3.01    3.03    2.91    2.93         2.69
2499        2538  Jun 01, 2012    3.04    3.07    2.99    2.99         2.75

        Volume
0     63299300
1     62633100
2     64885500
3     47575100
4     57204900
...        ...
2495  52678000
2496  36896800
2497  36522400
2498  43285600
2499  44098400

[2500 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2500 entries, 0 to 2499
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   2500 non-null   int64
 1   Date         2500 non-null   object
 2   Open         2500 non-null   float64
 3   High         2500 non-null   float64
 4   Low          2500 non-null   float64
 5   Close*       2500 non-null   float64
 6   Adj Close**  2500 non-null   float64
 7   Volume       2500 non-null   int64
dtypes: float64(5), int64(2), object(1)
memory usage: 175.8+ KB
None
      Unnamed: 0          Date    Open    High     Low  Close*  Adj Close**  \
0              0  May 06, 2022  156.01  159.44  154.18  157.28       157.28
1              2  May 05, 2022  163.85  164.08  154.95  156.77       156.54
2              3  May 04, 2022  159.67  166.48  159.26  166.02       165.78
3              4  May 03, 2022  158.15  160.71  156.32  159.48       159.25
4              5  May 02, 2022  156.71  158.23  153.27  157.96       157.73
...          ...           ...     ...     ...     ...     ...          ...
2495        2537  Jun 07, 2012   20.62   20.62   20.38   20.42        17.46
2496        2538  Jun 06, 2012   20.28   20.49   20.20   20.41        17.45
2497        2539  Jun 05, 2012   20.05   20.23   19.94   20.10        17.19
2498        2540  Jun 04, 2012   20.05   20.27   19.59   20.15        17.23
2499        2541  Jun 01, 2012   20.33   20.45   20.02   20.04        17.13

         Volume
0     116055700
1     130525300
2     108256500
3      88966500
4     123055300
...         ...
2495  379766800
2496  401455600
2497  388214400
2498  556995600
2499  520987600

[2500 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2500 entries, 0 to 2499
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   2500 non-null   int64
 1   Date         2500 non-null   object
 2   Open         2500 non-null   float64
 3   High         2500 non-null   float64
 4   Low          2500 non-null   float64
 5   Close*       2500 non-null   float64
 6   Adj Close**  2500 non-null   float64
 7   Volume       2500 non-null   int64
dtypes: float64(5), int64(2), object(1)
memory usage: 175.8+ KB
None
      Unnamed: 0          Date    Open    High     Low  Close*  Adj Close**  \
0              0  May 06, 2022  887.00  888.00  843.11  865.65       865.65
1              1  May 05, 2022  939.02  945.60  857.70  873.28       873.28
2              2  May 04, 2022  903.94  955.50  885.28  952.62       952.62
3              3  May 03, 2022  903.18  924.08  888.59  909.25       909.25
4              4  May 02, 2022  860.77  906.36  848.03  902.94       902.94
...          ...           ...     ...     ...     ...     ...          ...
2495        2496  Jun 07, 2012    5.96    5.97    5.77    5.79         5.79
2496        2497  Jun 06, 2012    5.64    5.89    5.63    5.84         5.84
2497        2498  Jun 05, 2012    5.57    5.68    5.51    5.58         5.58
2498        2499  Jun 04, 2012    5.61    5.68    5.42    5.58         5.58
2499        2500  Jun 01, 2012    5.71    5.83    5.55    5.63         5.63

        Volume
0     24264100
1     30839700
2     27214600
3     21236500
4     25260500
...        ...
2495   2460500
2496   4549500
2497   3154500
2498   5154500
2499   4429000

[2500 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2500 entries, 0 to 2499
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   2500 non-null   int64
 1   Date         2500 non-null   object
 2   Open         2500 non-null   float64
 3   High         2500 non-null   float64
 4   Low          2500 non-null   float64
 5   Close*       2500 non-null   float64
 6   Adj Close**  2500 non-null   float64
 7   Volume       2500 non-null   int64
dtypes: float64(5), int64(2), object(1)
memory usage: 175.8+ KB
None
      Unnamed: 0          Date   Open   High    Low  Close*  Adj Close**  \
0              0  May 06, 2022  94.34  98.18  92.65   95.34        95.34
1              1  May 05, 2022  97.65  97.84  92.17   93.87        93.87
2              2  May 04, 2022  98.18  99.69  91.70   99.42        99.42
3              3  May 03, 2022  89.85  92.21  89.01   91.13        91.13
4              4  May 02, 2022  85.66  90.37  85.32   89.84        89.84
...          ...           ...    ...    ...    ...     ...          ...
2495        2495  Jun 07, 2012   6.10   6.14   5.72    5.76         5.76
2496        2496  Jun 06, 2012   5.91   6.10   5.91    6.02         6.02
2497        2497  Jun 05, 2012   5.66   5.84   5.64    5.83         5.83
2498        2498  Jun 04, 2012   5.76   5.83   5.52    5.63         5.63
2499        2499  Jun 01, 2012   5.90   5.90   5.63    5.73         5.73

         Volume
0     144211500
1     153129800
2     225394100
3     126381800
4      98304100
...         ...
2495   17451300
2496   13460500
2497   12256100
2498   15576200
2499   25558000

[2500 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2500 entries, 0 to 2499
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   2500 non-null   int64
 1   Date         2500 non-null   object
 2   Open         2500 non-null   float64
 3   High         2500 non-null   float64
 4   Low          2500 non-null   float64
 5   Close*       2500 non-null   float64
 6   Adj Close**  2500 non-null   float64
 7   Volume       2500 non-null   object
dtypes: float64(5), int64(1), object(2)
memory usage: 175.8+ KB
None
      Unnamed: 0          Date    Open    High     Low  Close*  Adj Close**  \
0              0  May 06, 2022  274.81  279.25  271.27  274.73       274.09
1              1  May 05, 2022  285.54  286.35  274.34  277.35       276.71
2              2  May 04, 2022  282.59  290.88  276.73  289.98       289.31
3              3  May 03, 2022  283.96  284.13  280.15  281.78       281.13
4              4  May 02, 2022  277.71  284.94  276.22  284.47       283.81
...          ...           ...     ...     ...     ...     ...          ...
2495        2534  Jun 07, 2012   29.64   29.70   29.17   29.23        23.87
2496        2535  Jun 06, 2012   28.88   29.37   28.81   29.35        23.96
2497        2536  Jun 05, 2012   28.51   28.75   28.39   28.51        23.28
2498        2537  Jun 04, 2012   28.62   28.78   28.32   28.55        23.31
2499        2538  Jun 01, 2012   28.76   28.96   28.44   28.45        23.23

        Volume
0     37748300
1     43260400
2     33599300
3     25978600
4     35151100
...        ...
2495  37792800
2496  46860500
2497  45715400
2498  47926300
2499  56634300

[2500 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2500 entries, 0 to 2499
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   2500 non-null   int64
 1   Date         2500 non-null   object
 2   Open         2500 non-null   float64
 3   High         2500 non-null   float64
 4   Low          2500 non-null   float64
 5   Close*       2500 non-null   float64
 6   Adj Close**  2500 non-null   float64
 7   Volume       2500 non-null   int64
dtypes: float64(5), int64(2), object(1)
memory usage: 175.8+ KB
None
      Unnamed: 0          Date   Open   High    Low  Close*  Adj Close**  \
0              0  May 06, 2022  44.49  45.15  43.84   44.30        44.30
1              1  May 05, 2022  45.60  45.91  44.13   44.60        44.60
2              3  May 04, 2022  45.06  46.64  44.41   46.54        46.17
3              4  May 03, 2022  44.79  45.49  44.23   45.06        44.71
4              5  May 02, 2022  43.72  44.99  43.51   44.96        44.61
...          ...           ...    ...    ...    ...     ...          ...
2495        2535  Jun 07, 2012  26.37  26.43  25.89   25.94        19.32
2496        2536  Jun 06, 2012  25.51  26.11  25.43   26.07        19.42
2497        2537  Jun 05, 2012  25.04  25.57  25.00   25.43        18.94
2498        2538  Jun 04, 2012  25.28  25.36  24.84   25.04        18.65
2499        2539  Jun 01, 2012  25.40  25.71  25.12   25.14        18.73

        Volume
0     40910000
1     52996700
2     44625600
3     40158400
4     45446500
...        ...
2495  29534200
2496  33553600
2497  29491300
2498  39903700
2499  40246400

[2500 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2500 entries, 0 to 2499
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   2500 non-null   int64
 1   Date         2500 non-null   object
 2   Open         2500 non-null   float64
 3   High         2500 non-null   float64
 4   Low          2500 non-null   float64
 5   Close*       2500 non-null   float64
 6   Adj Close**  2500 non-null   float64
 7   Volume       2500 non-null   int64
dtypes: float64(5), int64(2), object(1)
memory usage: 175.8+ KB
None

,Date,NVDA Open,NVDA High,NVDA Low,NVDA Close,NVDA Volume,NVDA Daily change,NVDA Daily change Max,AAPL Open,AAPL High,...,MSFT Volume,MSFT Daily change,MSFT Daily change Max,INTC Open,INTC High,INTC Low,INTC Close,INTC Volume,INTC Daily change,INTC Daily change Max
0,"May 06, 2022",187.36,195.12,179.90,186.75,63299300,-0.325576,8.460256,156.01,159.44,...,37748300,-0.029111,2.941719,44.49,45.15,43.84,44.30,40910000,-0.427062,2.988139
1,"May 05, 2022",198.67,199.25,185.00,188.44,62633100,-5.149242,7.702703,163.85,164.08,...,43260400,-2.868250,4.377779,45.60,45.91,44.13,44.60,52996700,-2.192982,4.033537
2,"May 04, 2022",199.23,204.00,187.51,203.34,64885500,2.062942,8.794198,159.67,166.48,...,33599300,2.615096,5.113287,45.06,46.64,44.41,46.54,44625600,3.284510,5.021392
3,"May 03, 2022",194.00,198.25,191.33,196.02,47575100,1.041237,3.616788,158.15,160.71,...,25978600,-0.767714,1.420667,44.79,45.49,44.23,45.06,40158400,0.602813,2.848745
4,"May 02, 2022",185.41,195.74,183.91,195.33,57204900,5.350305,6.432494,156.71,158.23,...,35151100,2.434194,3.156904,43.72,44.99,43.51,44.96,45446500,2.836231,3.401517
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,"Jun 07, 2012",3.14,3.16,2.97,2.97,52678000,-5.414013,6.397306,20.62,20.62,...,37792800,-1.383266,1.816935,26.37,26.43,25.89,25.94,29534200,-1.630641,2.085747
2496,"Jun 06, 2012",3.04,3.11,3.02,3.10,36896800,1.973684,2.980132,20.28,20.49,...,46860500,1.627424,1.943770,25.51,26.11,25.43,26.07,33553600,2.195218,2.674007
2497,"Jun 05, 2012",2.92,3.03,2.92,3.02,36522400,3.424658,3.767123,20.05,20.23,...,45715400,0.000000,1.268052,25.04,25.57,25.00,25.43,29491300,1.557508,2.280000
2498,"Jun 04, 2012",3.01,3.03,2.91,2.93,43285600,-2.657807,4.123711,20.05,20.27,...,47926300,-0.244584,1.624294,25.28,25.36,24.84,25.04,39903700,-0.949367,2.093398
2499,"Jun 01, 2012",3.04,3.07,2.99,2.99,44098400,-1.644737,2.675585,20.33,20.45,...,56634300,-1.077886,1.828411,25.40,25.71,25.12,25.14,40246400,-1.023622,2.348726

In [56]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2500 entries, 0 to 2499
Data columns (total 48 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   NVDA Date              2500 non-null   object
 1   NVDA Open              2500 non-null   float64
 2   NVDA High              2500 non-null   float64
 3   NVDA Low               2500 non-null   float64
 4   NVDA Close             2500 non-null   float64
 5   NVDA Volume            2500 non-null   int64
 6   NVDA Daily change      2500 non-null   float64
 7   NVDA Daily change Max  2500 non-null   float64
 8   AAPL Date              2500 non-null   object
 9   AAPL Open              2500 non-null   float64
 10  AAPL High              2500 non-null   float64
 11  AAPL Low               2500 non-null   float64
 12  AAPL Close             2500 non-null   float64
 13  AAPL Volume            2500 non-null   int64
 14  AAPL Daily change      2500 non-null   float64
 15  AAPL Daily change Max  2500 non-null   float64
 16  TSLA Date              2500 non-null   object
 17  TSLA Open              2500 non-null   float64
 18  TSLA High              2500 non-null   float64
 19  TSLA Low               2500 non-null   float64
 20  TSLA Close             2500 non-null   float64
 21  TSLA Volume            2500 non-null   int64
 22  TSLA Daily change      2500 non-null   float64
 23  TSLA Daily change Max  2500 non-null   float64
 24  AMD Date               2500 non-null   object
 25  AMD Open               2500 non-null   float64
 26  AMD High               2500 non-null   float64
 27  AMD Low                2500 non-null   float64
 28  AMD Close              2500 non-null   float64
 29  AMD Volume             2500 non-null   object
 30  AMD Daily change       2500 non-null   float64
 31  AMD Daily change Max   2500 non-null   float64
 32  MSFT Date              2500 non-null   object
 33  MSFT Open              2500 non-null   float64
 34  MSFT High              2500 non-null   float64
 35  MSFT Low               2500 non-null   float64
 36  MSFT Close             2500 non-null   float64
 37  MSFT Volume            2500 non-null   int64
 38  MSFT Daily change      2500 non-null   float64
 39  MSFT Daily change Max  2500 non-null   float64
 40  INTC Date              2500 non-null   object
 41  INTC Open              2500 non-null   float64
 42  INTC High              2500 non-null   float64
 43  INTC Low               2500 non-null   float64
 44  INTC Close             2500 non-null   float64
 45  INTC Volume            2500 non-null   int64
 46  INTC Daily change      2500 non-null   float64
 47  INTC Daily change Max  2500 non-null   float64
dtypes: float64(36), int64(5), object(7)
memory usage: 957.0+ KB

In [69]:
tdf = pd.DataFrame(main_df, columns = ['NVDA Open','AAPL Open','AMD Open','MSFT Open','INTC Open','TSLA Open'])

In [71]:
tdf.tail()

      NVDA Open  AAPL Open  AMD Open  MSFT Open  INTC Open  TSLA Open
2495       3.14      20.62      6.10      29.64      26.37       5.96
2496       3.04      20.28      5.91      28.88      25.51       5.64
2497       2.92      20.05      5.66      28.51      25.04       5.57
2498       3.01      20.05      5.76      28.62      25.28       5.61
2499       3.04      20.33      5.90      28.76      25.40       5.71

In [80]:
indexes = ["NVDA","AAPL","TSLA","AMD","MSFT","INTC"]

for index in indexes:
      
    main_df[index + " " +'Daily change'] = (((main_df[index + " " +'Close']).astype(float))-((main_df[index + " " +'Open']).astype(float)))/((main_df[index + " " +'Open']).astype(float))*100
    main_df[index + " " +'Daily change Max'] =  abs((main_df[index + " " +'High'].astype(float)-main_df[index + " " +'Low'].astype(float))/main_df[index + " " +'Low'].astype(float)*100)


write_to_file(main_df, ("main_dataframe" + ".csv"))

In [81]:
main_df.tail()

,Date,NVDA Open,NVDA High,NVDA Low,NVDA Close,NVDA Volume,NVDA Daily change,NVDA Daily change Max,AAPL Open,AAPL High,...,MSFT Volume,MSFT Daily change,MSFT Daily change Max,INTC Open,INTC High,INTC Low,INTC Close,INTC Volume,INTC Daily change,INTC Daily change Max
2495,"Jun 07, 2012",3.14,3.16,2.97,2.97,52678000,-5.414013,6.397306,20.62,20.62,...,37792800,-1.383266,1.816935,26.37,26.43,25.89,25.94,29534200,-1.630641,2.085747
2496,"Jun 06, 2012",3.04,3.11,3.02,3.10,36896800,1.973684,2.980132,20.28,20.49,...,46860500,1.627424,1.943770,25.51,26.11,25.43,26.07,33553600,2.195218,2.674007
2497,"Jun 05, 2012",2.92,3.03,2.92,3.02,36522400,3.424658,3.767123,20.05,20.23,...,45715400,0.000000,1.268052,25.04,25.57,25.00,25.43,29491300,1.557508,2.280000
2498,"Jun 04, 2012",3.01,3.03,2.91,2.93,43285600,-2.657807,4.123711,20.05,20.27,...,47926300,-0.244584,1.624294,25.28,25.36,24.84,25.04,39903700,-0.949367,2.093398
2499,"Jun 01, 2012",3.04,3.07,2.99,2.99,44098400,-1.644737,2.675585,20.33,20.45,...,56634300,-1.077886,1.828411,25.40,25.71,25.12,25.14,40246400,-1.023622,2.348726

      NVDA Open  AAPL Open  AMD Open  MSFT Open  INTC Open  TSLA Open
2495       3.14      20.62      6.10      29.64      26.37       5.96
2496       3.04      20.28      5.91      28.88      25.51       5.64
2497       2.92      20.05      5.66      28.51      25.04       5.57
2498       3.01      20.05      5.76      28.62      25.28       5.61
2499       3.04      20.33      5.90      28.76      25.40       5.71