In [1]:
import pandas as pd
import time
from datetime import datetime, timedelta
import matplotlib as plt
import numpy as np
import warnings

In [2]:
df = pd.read_csv('main_dataframe.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1377 entries, 0 to 1376
Data columns (total 44 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             1377 non-null   int64
 1   Date                   1355 non-null   object
 2   NVDA Open              1377 non-null   float64
 3   NVDA High              1377 non-null   float64
 4   NVDA Low               1377 non-null   float64
 5   NVDA Close             1377 non-null   float64
 6   NVDA Volume            1377 non-null   int64
 7   NVDA Daily change      1377 non-null   float64
 8   NVDA Daily change Max  1377 non-null   float64
 9   AAPL Open              1354 non-null   float64
 10  AAPL High              1354 non-null   float64
 11  AAPL Low               1354 non-null   float64
 12  AAPL Close             1354 non-null   float64
 13  AAPL Volume            1354 non-null   float64
 14  AAPL Daily change      1354 non-null   float64
 15  AAPL Daily change Max  1354 non-null   float64
 16  TSLA Open              1376 non-null   float64
 17  TSLA High              1376 non-null   float64
 18  TSLA Low               1376 non-null   float64
 19  TSLA Close             1376 non-null   float64
 20  TSLA Volume            1376 non-null   float64
 21  TSLA Daily change      1376 non-null   float64
 22  TSLA Daily change Max  1376 non-null   float64
 23  AMD Open               1377 non-null   float64
 24  AMD High               1377 non-null   float64
 25  AMD Low                1377 non-null   float64
 26  AMD Close              1377 non-null   float64
 27  AMD Volume             1377 non-null   int64
 28  AMD Daily change       1377 non-null   float64
 29  AMD Daily change Max   1377 non-null   float64
 30  MSFT Open              1355 non-null   float64
 31  MSFT High              1355 non-null   float64
 32  MSFT Low               1355 non-null   float64
 33  MSFT Close             1355 non-null   float64
 34  MSFT Volume            1355 non-null   float64
 35  MSFT Daily change      1355 non-null   float64
 36  MSFT Daily change Max  1355 non-null   float64
 37  INTC Open              1355 non-null   float64
 38  INTC High              1355 non-null   float64
 39  INTC Low               1355 non-null   float64
 40  INTC Close             1355 non-null   float64
 41  INTC Volume            1355 non-null   float64
 42  INTC Daily change      1355 non-null   float64
 43  INTC Daily change Max  1355 non-null   float64
dtypes: float64(40), int64(3), object(1)
memory usage: 473.5+ KB

In [3]:
df

,Unnamed: 0,Date,NVDA Open,NVDA High,NVDA Low,NVDA Close,NVDA Volume,NVDA Daily change,NVDA Daily change Max,AAPL Open,...,MSFT Volume,MSFT Daily change,MSFT Daily change Max,INTC Open,INTC High,INTC Low,INTC Close,INTC Volume,INTC Daily change,INTC Daily change Max
0,0,"May 06, 2022",187.36,195.12,179.90,186.75,63299300,-0.325576,8.460256,156.01,...,37748300.0,-0.029111,2.941719,44.49,45.15,43.84,44.30,40910000.0,-0.427062,2.988139
1,1,"May 05, 2022",198.67,199.25,185.00,188.44,62633100,-5.149242,7.702703,NaN,...,43260400.0,-2.868250,4.377779,45.60,45.91,44.13,44.60,52996700.0,-2.192982,4.033537
2,2,NaN,199.23,204.00,187.51,203.34,64885500,2.062942,8.794198,163.85,...,33599300.0,2.615096,5.113287,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"May 04, 2022",194.00,198.25,191.33,196.02,47575100,1.041237,3.616788,159.67,...,25978600.0,-0.767714,1.420667,45.06,46.64,44.41,46.54,44625600.0,3.284510,5.021392
4,4,"May 03, 2022",185.41,195.74,183.91,195.33,57204900,5.350305,6.432494,158.15,...,35151100.0,2.434194,3.156904,44.79,45.49,44.23,45.06,40158400.0,0.602813,2.848745
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1372,1395,"Nov 21, 2016",23.33,23.43,23.09,23.41,33036800,0.342906,1.472499,27.99,...,27686300.0,-0.707470,1.393035,35.10,35.20,34.84,34.98,14259500.0,-0.341880,1.033295
1373,1396,"Nov 18, 2016",23.52,23.59,23.10,23.25,43643600,-1.147959,2.121212,27.53,...,32132700.0,0.380732,1.634150,34.90,35.00,34.64,34.95,16806900.0,0.143266,1.039261
1374,1397,"Nov 17, 2016",23.10,23.58,22.95,23.34,57606000,1.038961,2.745098,27.43,...,27332500.0,1.204615,1.445332,34.81,35.02,34.63,35.02,15748500.0,0.603275,1.126191
1375,1398,"Nov 16, 2016",23.08,23.70,22.66,23.10,83298800,0.086655,4.589585,27.45,...,35904100.0,0.925767,2.006173,34.90,34.92,34.54,34.84,18565500.0,-0.171920,1.100174
1376,1399,"Nov 15, 2016",21.83,23.14,21.59,22.91,98798400,4.947320,7.179250,26.67,...,NaN,NaN,NaN,34.64,35.29,34.61,34.91,20676100.0,0.779446,1.964750