In [4]:
import pandas as pd
import time
from datetime import datetime, timedelta
import matplotlib as plt
import numpy as np
import warnings

In [5]:
df = pd.read_csv('main_dataframe.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2661 entries, 0 to 2660
Data columns (total 44 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             2661 non-null   int64
 1   Date                   2618 non-null   object
 2   NVDA Open              2661 non-null   float64
 3   NVDA High              2661 non-null   float64
 4   NVDA Low               2661 non-null   float64
 5   NVDA Close             2661 non-null   float64
 6   NVDA Volume            2661 non-null   int64
 7   NVDA Daily change      2661 non-null   float64
 8   NVDA Daily change Max  2661 non-null   float64
 9   AAPL Open              2619 non-null   float64
 10  AAPL High              2619 non-null   float64
 11  AAPL Low               2619 non-null   float64
 12  AAPL Close             2619 non-null   float64
 13  AAPL Volume            2619 non-null   float64
 14  AAPL Daily change      2619 non-null   float64
 15  AAPL Daily change Max  2619 non-null   float64
 16  TSLA Open              2660 non-null   float64
 17  TSLA High              2660 non-null   float64
 18  TSLA Low               2660 non-null   float64
 19  TSLA Close             2660 non-null   float64
 20  TSLA Volume            2660 non-null   float64
 21  TSLA Daily change      2660 non-null   float64
 22  TSLA Daily change Max  2660 non-null   float64
 23  AMD Open               2661 non-null   float64
 24  AMD High               2661 non-null   float64
 25  AMD Low                2661 non-null   float64
 26  AMD Close              2661 non-null   float64
 27  AMD Volume             2661 non-null   object
 28  AMD Daily change       2661 non-null   float64
 29  AMD Daily change Max   2661 non-null   float64
 30  MSFT Open              2621 non-null   float64
 31  MSFT High              2621 non-null   float64
 32  MSFT Low               2621 non-null   float64
 33  MSFT Close             2621 non-null   float64
 34  MSFT Volume            2621 non-null   float64
 35  MSFT Daily change      2621 non-null   float64
 36  MSFT Daily change Max  2621 non-null   float64
 37  INTC Open              2618 non-null   float64
 38  INTC High              2618 non-null   float64
 39  INTC Low               2618 non-null   float64
 40  INTC Close             2618 non-null   float64
 41  INTC Volume            2618 non-null   float64
 42  INTC Daily change      2618 non-null   float64
 43  INTC Daily change Max  2618 non-null   float64
dtypes: float64(40), int64(2), object(2)
memory usage: 914.8+ KB

In [6]:
df

,Unnamed: 0,Date,NVDA Open,NVDA High,NVDA Low,NVDA Close,NVDA Volume,NVDA Daily change,NVDA Daily change Max,AAPL Open,...,MSFT Volume,MSFT Daily change,MSFT Daily change Max,INTC Open,INTC High,INTC Low,INTC Close,INTC Volume,INTC Daily change,INTC Daily change Max
0,0,"May 06, 2022",187.36,195.12,179.90,186.75,63299300,-0.325576,8.460256,156.01,...,37748300.0,-0.029111,2.941719,44.49,45.15,43.84,44.30,40910000.0,-0.427062,2.988139
1,1,"May 05, 2022",198.67,199.25,185.00,188.44,62633100,-5.149242,7.702703,NaN,...,43260400.0,-2.868250,4.377779,45.60,45.91,44.13,44.60,52996700.0,-2.192982,4.033537
2,2,NaN,199.23,204.00,187.51,203.34,64885500,2.062942,8.794198,163.85,...,33599300.0,2.615096,5.113287,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"May 04, 2022",194.00,198.25,191.33,196.02,47575100,1.041237,3.616788,159.67,...,25978600.0,-0.767714,1.420667,45.06,46.64,44.41,46.54,44625600.0,3.284510,5.021392
4,4,"May 03, 2022",185.41,195.74,183.91,195.33,57204900,5.350305,6.432494,158.15,...,35151100.0,2.434194,3.156904,44.79,45.49,44.23,45.06,40158400.0,0.602813,2.848745
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2656,2695,"Oct 21, 2011",3.88,3.88,3.71,3.73,61178000,-3.865979,4.582210,14.29,...,76300200.0,-0.807043,3.560606,23.86,24.25,23.80,24.03,123273100.0,0.712490,1.890756
2657,2696,"Oct 20, 2011",3.93,3.97,3.84,3.93,70245200,0.000000,3.385417,14.33,...,42880000.0,-0.876872,1.703073,23.88,23.88,23.35,23.61,88682000.0,-1.130653,2.269807
2658,2697,"Oct 19, 2011",3.63,3.87,3.63,3.87,85483200,6.611570,6.611570,15.06,...,52487900.0,1.373422,2.238806,24.01,24.50,23.86,24.24,139956200.0,0.957934,2.682313
2659,2698,"Oct 18, 2011",3.72,3.73,3.65,3.65,61206400,-1.881720,2.191781,15.06,...,39453300.0,-0.479528,2.122905,23.17,23.49,23.07,23.40,85272200.0,0.992663,1.820546
2660,2699,"Oct 17, 2011",3.66,3.72,3.64,3.65,81608000,-0.273224,2.197802,14.89,...,50947700.0,-0.146466,1.776462,23.32,23.60,23.14,23.28,47936100.0,-0.171527,1.987900