In [1]:
import re
import json
import csv
import requests
from bs4 import BeautifulSoup ,SoupStrainer
import pandas as pd 
from io import StringIO
from pathlib import Path  

!pip install selenium

import os
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.service import Service

import sys

import unittest

import time

Requirement already satisfied: selenium in c:\users\vovik\anaconda3\lib\site-packages (4.1.5)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\vovik\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\vovik\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\vovik\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: async-generator>=1.9 in c:\users\vovik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\vovik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sortedcontainers in c:\users\vovik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\vovik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\vovik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sniffio in c:\users\vovik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\vovik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: pycparser in c:\users\vovik\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\vovik\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\vovik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\vovik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\vovik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\vovik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\vovik\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\vovik\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [33]:
def get_infinity_page_html_data(chromedriver_path="./chromedriver.exe", scroll_number=50, sleep_time=2, url = ""):
    # Create selenium driver
    s = Service(chromedriver_path)
    driver = webdriver.Chrome(service=s)
    driver.get(url)

    for i in range(1,scroll_number):
        print(f"scroll_number: {i}")
        driver.execute_script("window.scrollTo(1,100000)")
        time.sleep(sleep_time)
    html_data = driver.page_source
    driver.close()
    
    soup = BeautifulSoup(html_data, 'html.parser')    
    return soup

In [34]:
def make_table(soup):
    table = soup.find_all('table')
    df = pd.read_html(str(table))[0]
    return df

In [35]:
def data_cleaning(df):
    df = df[df["Open"].str.contains("Dividend") == False]
    df = df[df["Open"].str.contains("Stock") == False]
    df.drop(df.tail(1).index,inplace=True)
    return df

In [36]:
def write_to_file(df, path):
    from pathlib import Path
    filepath = Path(path)
    filepath.parent.mkdir(parents=True, exist_ok=True)
    df.to_csv(filepath)

In [39]:
base_url = "https://finance.yahoo.com/quote/"
period_url = "/history?period1=1262304000&period2=1651881600&interval=1d&filter=history&frequency=1d&includeAdjustedClose=true"
indexes = ["NVDA","AAPL","TSLA","AMD","MSFT","INTC"]
main_df = pd.DataFrame()

for index in indexes:
    soup = get_infinity_page_html_data(url = (base_url + index + period_url))
    table = soup.find_all('table')
    df = pd.read_html(str(table))[0]
    
    df = data_cleaning(df)
    
    path = index + ".csv"
    write_to_file(df, path)
    
    print()
    
   
    main_df['Date'] = df['Date']
    main_df[index + " " + "Open"] = df['Open']
    main_df[index + " " + "High"] = df['High']
    main_df[index + " " + "Low"] = df['Low']
    main_df[index + " " + "Close"] = df['Close*']
    main_df[index + " " + "Volume"] = df['Volume']
    main_df[index + " " +'Daily change'] = (((df['Close*']).astype(float))-((df['Open']).astype(float)))/((df['Open']).astype(float))*100
    main_df[index + " " +'Daily change Max'] =  abs((df['High'].astype(float)-df['Low'].astype(float))/df['Low'].astype(float)*100)
    


    
    print(df)
    print(df.info())

    
write_to_file(main_df, ("main_dataframe" + ".csv"))
main_df

scroll_number: 1
scroll_number: 2
scroll_number: 3
scroll_number: 4
scroll_number: 5
scroll_number: 6
scroll_number: 7
scroll_number: 8
scroll_number: 9
scroll_number: 10
scroll_number: 11
scroll_number: 12
scroll_number: 13
scroll_number: 14
scroll_number: 15
scroll_number: 16
scroll_number: 17
scroll_number: 18
scroll_number: 19
scroll_number: 20
scroll_number: 21
scroll_number: 22
scroll_number: 23
scroll_number: 24
scroll_number: 25
scroll_number: 26
scroll_number: 27
scroll_number: 28
scroll_number: 29
scroll_number: 30
scroll_number: 31
scroll_number: 32
scroll_number: 33
scroll_number: 34
scroll_number: 35
scroll_number: 36
scroll_number: 37
scroll_number: 38
scroll_number: 39
scroll_number: 40
scroll_number: 41
scroll_number: 42
scroll_number: 43
scroll_number: 44
scroll_number: 45
scroll_number: 46
scroll_number: 47
scroll_number: 48
scroll_number: 49

              Date    Open    High     Low  Close* Adj Close**    Volume
0     May 06, 2022  187.36  195.12  179.90  186.75      186.75  63299300
1     May 05, 2022  198.67  199.25  185.00  188.44      188.44  62633100
2     May 04, 2022  199.23  204.00  187.51  203.34      203.34  64885500
3     May 03, 2022  194.00  198.25  191.33  196.02      196.02  47575100
4     May 02, 2022  185.41  195.74  183.91  195.33      195.33  57204900
...            ...     ...     ...     ...     ...         ...       ...
2695  Oct 17, 2011    3.88    3.88    3.71    3.73        3.43  61178000
2696  Oct 14, 2011    3.93    3.97    3.84    3.93        3.61  70245200
2697  Oct 13, 2011    3.63    3.87    3.63    3.87        3.55  85483200
2698  Oct 12, 2011    3.72    3.73    3.65    3.65        3.35  61206400
2699  Oct 11, 2011    3.66    3.72    3.64    3.65        3.36  81608000

[2661 rows x 7 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2661 entries, 0 to 2699
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         2661 non-null   object
 1   Open         2661 non-null   object
 2   High         2661 non-null   object
 3   Low          2661 non-null   object
 4   Close*       2661 non-null   object
 5   Adj Close**  2661 non-null   object
 6   Volume       2661 non-null   object
dtypes: object(7)
memory usage: 166.3+ KB
None
scroll_number: 1
scroll_number: 2
scroll_number: 3
scroll_number: 4
scroll_number: 5
scroll_number: 6
scroll_number: 7
scroll_number: 8
scroll_number: 9
scroll_number: 10
scroll_number: 11
scroll_number: 12
scroll_number: 13
scroll_number: 14
scroll_number: 15
scroll_number: 16
scroll_number: 17
scroll_number: 18
scroll_number: 19
scroll_number: 20
scroll_number: 21
scroll_number: 22
scroll_number: 23
scroll_number: 24
scroll_number: 25
scroll_number: 26
scroll_number: 27
scroll_number: 28
scroll_number: 29
scroll_number: 30
scroll_number: 31
scroll_number: 32
scroll_number: 33
scroll_number: 34
scroll_number: 35
scroll_number: 36
scroll_number: 37
scroll_number: 38
scroll_number: 39
scroll_number: 40
scroll_number: 41
scroll_number: 42
scroll_number: 43
scroll_number: 44
scroll_number: 45
scroll_number: 46
scroll_number: 47
scroll_number: 48
scroll_number: 49

              Date    Open    High     Low  Close* Adj Close**      Volume
0     May 06, 2022  156.01  159.44  154.18  157.28      157.28   116055700
2     May 05, 2022  163.85  164.08  154.95  156.77      156.54   130525300
3     May 04, 2022  159.67  166.48  159.26  166.02      165.78   108256500
4     May 03, 2022  158.15  160.71  156.32  159.48      159.25    88966500
5     May 02, 2022  156.71  158.23  153.27  157.96      157.73   123055300
...            ...     ...     ...     ...     ...         ...         ...
2695  Oct 20, 2011   14.29   14.30   14.08   14.12       12.07   549270400
2696  Oct 19, 2011   14.33   14.59   14.21   14.24       12.17  1104059600
2697  Oct 18, 2011   15.06   15.17   14.86   15.08       12.89   881602400
2698  Oct 17, 2011   15.06   15.24   14.85   15.00       12.82   686044800
2699  Oct 14, 2011   14.89   15.07   14.83   15.07       12.89   573367200

[2658 rows x 7 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2658 entries, 0 to 2699
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         2658 non-null   object
 1   Open         2658 non-null   object
 2   High         2658 non-null   object
 3   Low          2658 non-null   object
 4   Close*       2658 non-null   object
 5   Adj Close**  2658 non-null   object
 6   Volume       2658 non-null   object
dtypes: object(7)
memory usage: 230.7+ KB
None
scroll_number: 1
scroll_number: 2
scroll_number: 3
scroll_number: 4
scroll_number: 5
scroll_number: 6
scroll_number: 7
scroll_number: 8
scroll_number: 9
scroll_number: 10
scroll_number: 11
scroll_number: 12
scroll_number: 13
scroll_number: 14
scroll_number: 15
scroll_number: 16
scroll_number: 17
scroll_number: 18
scroll_number: 19
scroll_number: 20
scroll_number: 21
scroll_number: 22
scroll_number: 23
scroll_number: 24
scroll_number: 25
scroll_number: 26
scroll_number: 27
scroll_number: 28
scroll_number: 29
scroll_number: 30
scroll_number: 31
scroll_number: 32
scroll_number: 33
scroll_number: 34
scroll_number: 35
scroll_number: 36
scroll_number: 37
scroll_number: 38
scroll_number: 39
scroll_number: 40
scroll_number: 41
scroll_number: 42
scroll_number: 43
scroll_number: 44
scroll_number: 45
scroll_number: 46
scroll_number: 47
scroll_number: 48
scroll_number: 49

              Date    Open    High     Low  Close* Adj Close**    Volume
0     May 06, 2022  887.00  888.00  843.11  865.65      865.65  24264100
1     May 05, 2022  939.02  945.60  857.70  873.28      873.28  30839700
2     May 04, 2022  903.94  955.50  885.28  952.62      952.62  27214600
3     May 03, 2022  903.18  924.08  888.59  909.25      909.25  21236500
4     May 02, 2022  860.77  906.36  848.03  902.94      902.94  25260500
...            ...     ...     ...     ...     ...         ...       ...
2695  Aug 23, 2011    4.39    4.62    4.30    4.59        4.59   4345000
2696  Aug 22, 2011    4.62    4.76    4.34    4.39        4.39   4930500
2697  Aug 19, 2011    4.77    4.84    4.40    4.46        4.46   6876500
2698  Aug 18, 2011    5.00    5.03    4.69    4.85        4.85   5283000
2699  Aug 17, 2011    5.28    5.33    5.10    5.17        5.17   3218500

[2699 rows x 7 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2699 entries, 0 to 2699
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         2699 non-null   object
 1   Open         2699 non-null   object
 2   High         2699 non-null   object
 3   Low          2699 non-null   object
 4   Close*       2699 non-null   object
 5   Adj Close**  2699 non-null   object
 6   Volume       2699 non-null   object
dtypes: object(7)
memory usage: 233.2+ KB
None
scroll_number: 1
scroll_number: 2
scroll_number: 3
scroll_number: 4
scroll_number: 5
scroll_number: 6
scroll_number: 7
scroll_number: 8
scroll_number: 9
scroll_number: 10
scroll_number: 11
scroll_number: 12
scroll_number: 13
scroll_number: 14
scroll_number: 15
scroll_number: 16
scroll_number: 17
scroll_number: 18
scroll_number: 19
scroll_number: 20
scroll_number: 21
scroll_number: 22
scroll_number: 23
scroll_number: 24
scroll_number: 25
scroll_number: 26
scroll_number: 27
scroll_number: 28
scroll_number: 29
scroll_number: 30
scroll_number: 31
scroll_number: 32
scroll_number: 33
scroll_number: 34
scroll_number: 35
scroll_number: 36
scroll_number: 37
scroll_number: 38
scroll_number: 39
scroll_number: 40
scroll_number: 41
scroll_number: 42
scroll_number: 43
scroll_number: 44
scroll_number: 45
scroll_number: 46
scroll_number: 47
scroll_number: 48
scroll_number: 49

              Date   Open   High    Low Close* Adj Close**     Volume
0     May 06, 2022  94.34  98.18  92.65  95.34       95.34  144211500
1     May 05, 2022  97.65  97.84  92.17  93.87       93.87  153129800
2     May 04, 2022  98.18  99.69  91.70  99.42       99.42  225394100
3     May 03, 2022  89.85  92.21  89.01  91.13       91.13  126381800
4     May 02, 2022  85.66  90.37  85.32  89.84       89.84   98304100
...            ...    ...    ...    ...    ...         ...        ...
2695  Aug 22, 2011   6.13   6.18   5.95   6.05        6.05   18433500
2696  Aug 19, 2011   5.72   6.09   5.71   5.98        5.98   37995200
2697  Aug 18, 2011   5.90   5.96   5.64   5.79        5.79   27200300
2698  Aug 17, 2011   6.41   6.47   6.08   6.14        6.14   15248500
2699  Aug 16, 2011   6.36   6.43   6.18   6.34        6.34   16355700

[2700 rows x 7 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2700 entries, 0 to 2699
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         2700 non-null   object
 1   Open         2700 non-null   object
 2   High         2700 non-null   object
 3   Low          2700 non-null   object
 4   Close*       2700 non-null   object
 5   Adj Close**  2700 non-null   object
 6   Volume       2700 non-null   object
dtypes: object(7)
memory usage: 233.3+ KB
None

scroll_number: 1
scroll_number: 2
scroll_number: 3
scroll_number: 4
scroll_number: 5
scroll_number: 6
scroll_number: 7
scroll_number: 8
scroll_number: 9
scroll_number: 10
scroll_number: 11
scroll_number: 12
scroll_number: 13
scroll_number: 14
scroll_number: 15
scroll_number: 16
scroll_number: 17
scroll_number: 18
scroll_number: 19
scroll_number: 20
scroll_number: 21
scroll_number: 22
scroll_number: 23
scroll_number: 24
scroll_number: 25
scroll_number: 26
scroll_number: 27
scroll_number: 28
scroll_number: 29
scroll_number: 30
scroll_number: 31
scroll_number: 32
scroll_number: 33
scroll_number: 34
scroll_number: 35
scroll_number: 36
scroll_number: 37
scroll_number: 38
scroll_number: 39
scroll_number: 40
scroll_number: 41
scroll_number: 42
scroll_number: 43
scroll_number: 44
scroll_number: 45
scroll_number: 46
scroll_number: 47
scroll_number: 48
scroll_number: 49

              Date    Open    High     Low  Close* Adj Close**    Volume
0     May 06, 2022  274.81  279.25  271.27  274.73      274.73  37748300
1     May 05, 2022  285.54  286.35  274.34  277.35      277.35  43260400
2     May 04, 2022  282.59  290.88  276.73  289.98      289.98  33599300
3     May 03, 2022  283.96  284.13  280.15  281.78      281.78  25978600
4     May 02, 2022  277.71  284.94  276.22  284.47      284.47  35151100
...            ...     ...     ...     ...     ...         ...       ...
2695  Oct 20, 2011   27.26   27.34   26.40   27.04       21.68  76300200
2696  Oct 19, 2011   27.37   27.47   27.01   27.13       21.75  42880000
2697  Oct 18, 2011   26.94   27.40   26.80   27.31       21.89  52487900
2698  Oct 17, 2011   27.11   27.42   26.85   26.98       21.63  39453300
2699  Oct 14, 2011   27.31   27.50   27.02   27.27       21.86  50947700

[2658 rows x 7 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2658 entries, 0 to 2699
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         2658 non-null   object
 1   Open         2658 non-null   object
 2   High         2658 non-null   object
 3   Low          2658 non-null   object
 4   Close*       2658 non-null   object
 5   Adj Close**  2658 non-null   object
 6   Volume       2658 non-null   object
dtypes: object(7)
memory usage: 230.7+ KB
None
scroll_number: 1
scroll_number: 2
scroll_number: 3
scroll_number: 4
scroll_number: 5
scroll_number: 6
scroll_number: 7
scroll_number: 8
scroll_number: 9
scroll_number: 10
scroll_number: 11
scroll_number: 12
scroll_number: 13
scroll_number: 14
scroll_number: 15
scroll_number: 16
scroll_number: 17
scroll_number: 18
scroll_number: 19
scroll_number: 20
scroll_number: 21
scroll_number: 22
scroll_number: 23
scroll_number: 24
scroll_number: 25
scroll_number: 26
scroll_number: 27
scroll_number: 28
scroll_number: 29
scroll_number: 30
scroll_number: 31
scroll_number: 32
scroll_number: 33
scroll_number: 34
scroll_number: 35
scroll_number: 36
scroll_number: 37
scroll_number: 38
scroll_number: 39
scroll_number: 40
scroll_number: 41
scroll_number: 42
scroll_number: 43
scroll_number: 44
scroll_number: 45
scroll_number: 46
scroll_number: 47
scroll_number: 48
scroll_number: 49

              Date   Open   High    Low Close* Adj Close**     Volume
0     May 06, 2022  44.49  45.15  43.84  44.30       44.30   40910000
1     May 05, 2022  45.60  45.91  44.13  44.60       44.60   52996700
3     May 04, 2022  45.06  46.64  44.41  46.54       46.17   44625600
4     May 03, 2022  44.79  45.49  44.23  45.06       44.71   40158400
5     May 02, 2022  43.72  44.99  43.51  44.96       44.61   45446500
...            ...    ...    ...    ...    ...         ...        ...
2695  Oct 21, 2011  23.86  24.25  23.80  24.03       17.48  123273100
2696  Oct 20, 2011  23.88  23.88  23.35  23.61       17.17   88682000
2697  Oct 19, 2011  24.01  24.50  23.86  24.24       17.63  139956200
2698  Oct 18, 2011  23.17  23.49  23.07  23.40       17.02   85272200
2699  Oct 17, 2011  23.32  23.60  23.14  23.28       16.93   47936100

[2657 rows x 7 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2657 entries, 0 to 2699
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         2657 non-null   object
 1   Open         2657 non-null   object
 2   High         2657 non-null   object
 3   Low          2657 non-null   object
 4   Close*       2657 non-null   object
 5   Adj Close**  2657 non-null   object
 6   Volume       2657 non-null   object
dtypes: object(7)
memory usage: 230.6+ KB
None

,Date,NVDA Open,NVDA High,NVDA Low,NVDA Close,NVDA Volume,NVDA Daily change,NVDA Daily change Max,AAPL Open,AAPL High,...,MSFT Volume,MSFT Daily change,MSFT Daily change Max,INTC Open,INTC High,INTC Low,INTC Close,INTC Volume,INTC Daily change,INTC Daily change Max
0,"May 06, 2022",187.36,195.12,179.90,186.75,63299300,-0.325576,8.460256,156.01,159.44,...,37748300,-0.029111,2.941719,44.49,45.15,43.84,44.30,40910000,-0.427062,2.988139
1,"May 05, 2022",198.67,199.25,185.00,188.44,62633100,-5.149242,7.702703,NaN,NaN,...,43260400,-2.868250,4.377779,45.60,45.91,44.13,44.60,52996700,-2.192982,4.033537
2,NaN,199.23,204.00,187.51,203.34,64885500,2.062942,8.794198,163.85,164.08,...,33599300,2.615096,5.113287,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"May 04, 2022",194.00,198.25,191.33,196.02,47575100,1.041237,3.616788,159.67,166.48,...,25978600,-0.767714,1.420667,45.06,46.64,44.41,46.54,44625600,3.284510,5.021392
4,"May 03, 2022",185.41,195.74,183.91,195.33,57204900,5.350305,6.432494,158.15,160.71,...,35151100,2.434194,3.156904,44.79,45.49,44.23,45.06,40158400,0.602813,2.848745
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2695,"Oct 21, 2011",3.88,3.88,3.71,3.73,61178000,-3.865979,4.582210,14.29,14.30,...,76300200,-0.807043,3.560606,23.86,24.25,23.80,24.03,123273100,0.712490,1.890756
2696,"Oct 20, 2011",3.93,3.97,3.84,3.93,70245200,0.000000,3.385417,14.33,14.59,...,42880000,-0.876872,1.703073,23.88,23.88,23.35,23.61,88682000,-1.130653,2.269807
2697,"Oct 19, 2011",3.63,3.87,3.63,3.87,85483200,6.611570,6.611570,15.06,15.17,...,52487900,1.373422,2.238806,24.01,24.50,23.86,24.24,139956200,0.957934,2.682313
2698,"Oct 18, 2011",3.72,3.73,3.65,3.65,61206400,-1.881720,2.191781,15.06,15.24,...,39453300,-0.479528,2.122905,23.17,23.49,23.07,23.40,85272200,0.992663,1.820546
2699,"Oct 17, 2011",3.66,3.72,3.64,3.65,81608000,-0.273224,2.197802,14.89,15.07,...,50947700,-0.146466,1.776462,23.32,23.60,23.14,23.28,47936100,-0.171527,1.987900

In [40]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2661 entries, 0 to 2699
Data columns (total 43 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   2618 non-null   object
 1   NVDA Open              2661 non-null   object
 2   NVDA High              2661 non-null   object
 3   NVDA Low               2661 non-null   object
 4   NVDA Close             2661 non-null   object
 5   NVDA Volume            2661 non-null   object
 6   NVDA Daily change      2661 non-null   float64
 7   NVDA Daily change Max  2661 non-null   float64
 8   AAPL Open              2619 non-null   object
 9   AAPL High              2619 non-null   object
 10  AAPL Low               2619 non-null   object
 11  AAPL Close             2619 non-null   object
 12  AAPL Volume            2619 non-null   object
 13  AAPL Daily change      2619 non-null   float64
 14  AAPL Daily change Max  2619 non-null   float64
 15  TSLA Open              2660 non-null   object
 16  TSLA High              2660 non-null   object
 17  TSLA Low               2660 non-null   object
 18  TSLA Close             2660 non-null   object
 19  TSLA Volume            2660 non-null   object
 20  TSLA Daily change      2660 non-null   float64
 21  TSLA Daily change Max  2660 non-null   float64
 22  AMD Open               2661 non-null   object
 23  AMD High               2661 non-null   object
 24  AMD Low                2661 non-null   object
 25  AMD Close              2661 non-null   object
 26  AMD Volume             2661 non-null   object
 27  AMD Daily change       2661 non-null   float64
 28  AMD Daily change Max   2661 non-null   float64
 29  MSFT Open              2621 non-null   object
 30  MSFT High              2621 non-null   object
 31  MSFT Low               2621 non-null   object
 32  MSFT Close             2621 non-null   object
 33  MSFT Volume            2621 non-null   object
 34  MSFT Daily change      2621 non-null   float64
 35  MSFT Daily change Max  2621 non-null   float64
 36  INTC Open              2618 non-null   object
 37  INTC High              2618 non-null   object
 38  INTC Low               2618 non-null   object
 39  INTC Close             2618 non-null   object
 40  INTC Volume            2618 non-null   object
 41  INTC Daily change      2618 non-null   float64
 42  INTC Daily change Max  2618 non-null   float64
dtypes: float64(12), object(31)
memory usage: 914.7+ KB